    div.flex-container {
        background-color: whitesmoke;
        height: 600px;
        overflow: inherit;
        display: flex;
        flex-direction: row;
    }

    .box-text p {
        text-align: justify;
    }


    .box-text img:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .box-text img {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }

    div.big-image {
        flex: 2;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5 dark;
    }

    div.big-image:hover {
        opacity: 1;
        transform: scale(1.2);
        z-index: 9;
        /*How to assign an attribute to the child element? When hover, can I spin the logo */
    }

    li {
        display: inline;
        align-content: center;
    }

    ul {
      padding: 0px;
    }

    .introduction-box {
        display: flex;
        height: 450px;
        width: 1600px;
    }

    nav {
        height: 800px;
        width: 1600px;
        background-image: url(./assets/Layer\ 7.png);
        display: flex;
        justify-content: space-around;
    }

    body {
        background-color: white;
    }

    .introduction {
        text-align: center;
        font-size: 15px;
        margin: auto;
        justify-content: flex-end;
    }

    .introduction img:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    .introduction img {
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition: transform .8s ease-in-out;

    div.big-image.big-first:hover {
        background-image: url(assets/Layer\ 10.png);
    }

    div.big-image.big-first {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Layer\ 10.png);
    }

    div.big-image.big-second:hover {
        background-image: url(assets/Layer\ 12.png);
    }

    div.big-image.big-second {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Layer\ 12.png);
    }

    .foto-with-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    div.box-text {
        flex: 2;
        display: flex;
    }

    .texts-foto-box {
        background-size: cover;
        background-repeat: no-repeat;
        flex: 1;
    }
    /* .texts-foto-box:before {
        content: '';
        position: absolute;
        left: -150%;
        top: -50%;
        width: 0;
        height: 0;
        border-top: 500px solid #000000;
        border-left: 923px solid transparent;
    } */
    /*.texts-foto-box:after {
    content: '';
    position: absolute;
    left: -150%;
    bottom: -50%;
    width: 0;
    height: 0;
    border-bottom: 500px solid #000000;
    border-left: 923px solid transparent;
}*/

    .texts-foto-box:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate( 45deg);
        background-color: #f5f5f5;
        left: 50%;
        top: 64%;
        box-sizing: border-box;
    }
    /*
.texts-foto-box.first {
    background-image: url(assets/Layer\ 11.png);
}

.texts-foto-box.second {
    background-image: url(assets/Layer\ 20.png);
}

.box-text-wrapper {
    margin: auto 50px;
    text-align: center;
}

  /* Section Paul */

#paul {

}



#paul p {
  margin: 0;
}

.greyblock1 {
  height: 450px;
}

.blackblock {
  height: 200px;
}

.twitterBlock {
  height: 450px;
  width: 1600px;
  background-color: rgb(247, 247, 247);
  display: flex;

  justify-content: center;
  align-items: center;
}

.tweet {

  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.tweet p {
  color: grey;
}

.twitterBlock img {
  height: 27px;
  width: 32px;

}


.mosaic2 {
  display: flex;

}

.mosaic2Flex {
  display: flex;

}

.blackBlock {
  height: 200px;
  width: 1600px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;


}

.blackBlockText {
 width: 300px;
 border: 3px solid white;
 color:rgb(247, 247, 247);
 text-align: center;
 font-size: 30px;


}



.emailBlock {
  height: 450px;
  width: 1600px;
  background-color: white;
  display: flex;
}

.emailSection {
 margin: auto;
 width: 500px;
 height: 200px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.emailSection img {
  height: auto;
  width: auto;
  align-self: center;
}

.emailSection input {
  height: 50px;
  width: 300px;
  padding-left: 10px;
}

.emailSection button {
  height: 50px;
  width: 75px;
  color:rgb(247, 247, 247);
  background-color: seagreen;
}

.iconsBlock {
  height: 250px;
  width: 1600px;
  background-color: rgb(247, 247, 247);
  display: flex;

}

.iconContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 1400px;


}

.icon1 {

  font-size: 15px;

}

.icon2 {
  width: 200px;
  display: flex;
  justify-content: space-between;

}

.icon3 {
  font-size: 20px;
  align-self: center;


}


/* 1.grey box: 1600 x 450px
=======
    background-image: url(assets/Layer\ 13.png);
}

.texts-foto-box.third {
    background-image: url(assets/Layer\ 16.png);
}*/

    .texts-foto-box img {
        width: 100%;
        height: 100%;
    }

    .box-text-wrapper {
        margin: auto 50px;
        text-align: center;
    }

    #said {
        width: 1600px;
    }
    /* Section Paul */


    #paul p {
        margin: 0;
    }

    .greyblock1 {
        height: 450px;
    }

    .blackblock {
        height: 200px;
    }

    .twitterBlock {
        height: 450px;
        width: 1600px;
        background-color: rgb(247, 247, 247);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tweet {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .tweet p {
        color: grey;
    }

    .twitterBlock img {
        height: 27px;
        width: 32px;
    }

    .mosaic2 {
        display: flex;
        height: 534px;
        width: 1600px;
        overflow: hidden;
    }

    .mosaic2Flex {
        display: flex;
    }

    .blackBlock {
        height: 200px;
        width: 1600px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blackBlockText {
        width: 300px;
        border: 3px solid white;
        color: rgb(247, 247, 247);
        text-align: center;
        font-size: 30px;
    }

    .emailBlock {
        height: 450px;
        width: 1600px;
        background-color: white;
        display: flex;
    }

    .emailSection {
        margin: auto;
        width: 500px;
        height: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .emailSection img {
        height: auto;
        width: auto;
        align-self: center;
    }

    .emailSection input {
        height: 50px;
        width: 300px;
    }

    .emailSection button {
        height: 50px;
        width: 75px;
        color: rgb(247, 247, 247);
        background-color: seagreen;
    }

    .iconsBlock {
        height: 250px;
        width: 1600px;
        background-color: rgb(247, 247, 247);
        display: flex;
    }

    .iconContainer {
        margin: auto;
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 1400px;
    }

    .icon1 {
        font-size: 15px;
    }

    .icon2 {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    .icon3 {
        font-size: 20px;
        align-self: center;
    }
    /* 1.grey box: 1600 x 450px
>>>>>>> d18782d273b19d0575dfc65b5be1d7ab518fcacd
black box: 1600 x 200px
email section: 1600 x 450px
grey box with icons: 1600 x 250px
