
header {
  background-image: url(./assets/Layer7.png);
  height: 800px;
  width: 1600px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: white;
}

.introduction {
  height: 450px;
  width: 1600px;
  text-align: center;
  font-size: 15px;
}

.asdf {
  background: aqua;
}

.greyblock1 {
  height: 450px;
}

.blackblock {
  height: 200px;
}

.emailblock {
  height: 450px;
}

.iconsblock {
  height: 250px
}


/* 1.grey box: 1600 x 450px
black box: 1600 x 200px
email section: 1600 x 450px
grey box with icons: 1600 x 250px
